/*Null style*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  display: flex;
  flex-direction: column;
  font-family: Lato;
  color: #848789;
}

main {
  flex: 1 1 auto;
}

.header {
  padding: calc(30px + 5 * (100vw - 320px) / 1280) 0 0;
  height: 100vh;
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.68px) {
  .menu__item {
    flex-direction: column;
  }
}
.menu__link {
  padding: calc(10px + 5 * (100vw - 320px) / 1280) calc(30px + 5 * (100vw - 320px) / 1280);
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.menu__logo {
  margin: 0 25px;
}
@media (max-width: 767.68px) {
  .menu__logo {
    display: none;
  }
}

.new-generation {
  padding: calc(30px + 87 * (100vw - 320px) / 1280) 0;
  background-color: #f7f7f7;
}
.new-generation__paragraph {
  margin: 0 calc(15px + 15 * (100vw - 320px) / 1280);
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 15px;
}
@media (max-width: 1130px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.paragraph {
  text-align: center;
}
.paragraph__icon {
  margin: 0 0 calc(17px + 17 * (100vw - 320px) / 1280);
}
.paragraph__title {
  margin: 0 0 calc(17px + 17 * (100vw - 320px) / 1280);
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #353738;
}
.paragraph__text {
  font-size: 16px;
  line-height: 1.8888888889;
}
.paragraph__text--more {
  font-size: 18px;
}
.paragraph__text--underline {
  text-align: justify;
  position: relative;
}
.paragraph__text--underline::after {
  content: "";
  display: block;
  margin: 40px auto 0;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.vinage-oliva__background {
  background-image: url(../img/vintage-oliva/rectangle.png);
}
.vinage-oliva__background-2 {
  background-image: url(../img/vintage-oliva/rectangle-02.png);
}

.columns {
  display: flex;
}
@media (max-width: 1023.98px) {
  .columns {
    display: block;
  }
}
.columns--reverse {
  flex-direction: row-reverse;
}
.columns__big-column {
  flex: 1 1 66.667%;
}
.columns__small-column {
  flex: 1 1 33.333%;
}
.columns__background {
  background-repeat: no-repeat;
  background-size: cover;
}
.columns__background--with-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns__background--full {
  height: 100%;
}
@media (max-width: 1023.98px) {
  .columns__background--full {
    padding: 18.755% 0;
  }
}
.columns__background--small {
  padding-bottom: 37.51%;
}
@media (max-width: 1023.98px) {
  .columns__background--small {
    display: none;
  }
}
.columns__paragraph {
  padding: calc(30px + 40 * (100vw - 320px) / 1280);
}

.la-boriosa__background {
  background-image: url(../img/la-boriosa/rectangle.png);
}
.la-boriosa__background-2 {
  background-image: url(../img/la-boriosa/rectangle-02.png);
}

.retro-bike__background {
  background-image: url(../img/retro-bike/rectangle.png);
}
.retro-bike__background-2 {
  background-image: url(../img/retro-bike/rectangle-03.png);
}
.retro-bike__background-3 {
  background-image: url(../img/retro-bike/rectangle-02.png);
}

.aod {
  padding: calc(30px + 94 * (100vw - 320px) / 1280) 0 calc(15px + 53 * (100vw - 320px) / 1280);
}
.aod__paragraph {
  margin: 0 calc(15px + 15 * (100vw - 320px) / 1280) calc(45px + 59 * (100vw - 320px) / 1280);
}
.aod__paragraph span {
  font-weight: 300;
  color: #848789;
}
.aod__buttons {
  display: flex;
  justify-content: center;
}
.aod__button {
  width: 11px;
  height: 11px;
  background-color: rgba(40, 47, 53, 0);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  margin: 0 4.5px;
}
.aod__button--active {
  background-color: #a9afb3;
}

.discover-shop {
  background-color: #282f35;
}
.discover-shop__button-link {
  padding: calc(30px + 45 * (100vw - 320px) / 1280) 0;
}
.discover-shop__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: calc(275px + 25 * (100vw - 320px) / 1280);
  height: calc(45px + 5 * (100vw - 320px) / 1280);
  border: 1px solid rgba(255, 255, 255, 0.49);
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.enter-email {
  padding: calc(30px + 80 * (100vw - 320px) / 1280) 0;
}
.enter-email__form {
  margin: 0 calc(15px + 270 * (100vw - 320px) / 1280);
  text-align: center;
}
.enter-email__logo {
  margin: 0 0 40px;
}
.enter-email__title {
  margin: 0 0 35px;
  font-size: 24px;
  line-height: 1.4;
  font-style: italic;
}
.enter-email__search {
  display: flex;
  justify-content: center;
  height: calc(40px + 29 * (100vw - 320px) / 1280);
}
.enter-email__input {
  margin: 0 8px 0 0;
  padding: 0 25px;
  width: calc(200px + 200 * (100vw - 320px) / 1280);
  height: calc(46px + 23 * (100vw - 320px) / 1280);
  border: 1px solid #d3d7d9;
  font-size: 20px;
  line-height: 1.2;
  font-style: italic;
}
.enter-email__button {
  width: calc(69px + 57 * (100vw - 320px) / 1280);
  height: calc(46px + 23 * (100vw - 320px) / 1280);
  background-color: #64c29e;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.footer {
  padding: calc(30px + 20 * (100vw - 320px) / 1280) 0;
  background-color: #f7f7f7;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .footer__row {
    flex-direction: column;
    align-items: stretch;
  }
}
.footer__column {
  flex: 1 1 33.33%;
}
@media (max-width: 767.98px) {
  .footer__column {
    margin: 15px 0;
  }
}
.footer__contact {
  line-height: 1.0625;
}
.footer__contact div:not(:last-child) {
  margin: 0 0 calc(4px + 2 * (100vw - 320px) / 1280);
}
.footer__title {
  font-size: 16px;
  font-weight: 700;
}
.footer__adress {
  font-size: 13.9px;
  font-style: italic;
}
.footer__logos {
  display: flex;
  justify-content: center;
}
.footer__logo {
  margin: 0 15px;
}
.footer__yebo {
  display: flex;
  justify-content: right;
  align-items: center;
}
.footer__text {
  font-size: 13.9px;
  line-height: 1.0625;
  font-style: italic;
  margin: 0 9px 0 0;
}